h2 {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  box-shadow: 0 1px 0 #cccccc;
}

.product-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product {
  width: 100%;
  padding: 10px;
}

.product > a > p {
  text-align: center;
  color: #57b846;
}

.product > a > p:hover {
  border: 1px solid #57b846;
 }

.product img {
  height: 100%;
  width: 100%;
}
